.user-center-filter_wrap {
  height: 74px;
  padding: 0 80px;
  @include flex(
    (
      i: center,
      c: space-between,
    )
  );
  .filter-left {
    .filter-btn {
      margin-right: 32px;
      .btn-text {
        margin-right: 5px;
        color: #222;
      }
      .text {
        font-size: 14px;
        font-weight: 600;
      }
      .value {
        color: $defaultColor;
      }
    }
    .filter-btn:last-child {
      margin-right: 0;
    }
    .tab-active {
        .btn-text {
            color: $themeColor;
        }
    }
  }
}
