@font-face {
    font-family: 'Montserrat';
    src: url('./montserrat.ttf');
}
/* @font-face {
    font-family: 'Montserrat-think';
    src: url('./montserrat.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url('./montserrat.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat-middle';
    src: url('./montserrat.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat-middleBlod';
    src: url('./montserrat.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat-Blod';
    src: url('./montserrat.ttf');
    font-weight: 800;
} */
